body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family:PingFang SC, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#body {
  display: flex;
  height: 100%;
  overflow: hidden;
}

#header_div {
  padding: 25px;
  background: url('https://unsplash.it/1900/1080?image=1076');
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

#title {
  box-sizing: border-box;
  padding: 0 5px;
  margin: 5px 0px;
  resize: none;
  outline: none;
  border: none;
  height:40px;
}

#editor {
  box-sizing: border-box;
  padding: 0 5px;
  margin: 0;
  line-height: 20px;
  color: #F9F9F5;
  background-color: #2d2d2d;
  resize: none;
  outline: none;
  border: none;
  height: 100%;
}

#preview {
  box-sizing: border-box;
  flex: 1;
  padding: 0 10px;
  overflow-y: scroll;
}

#menu {
  box-sizing: border-box;
  flex: 1;
  padding: 0 0px;
  overflow-y: scroll;
}

#note-editor {
  display: flex;
  flex:1;
  box-sizing: border-box;
  flex-direction: column;
  /*width: 400px;*/
}

.li{
  font-size: 20px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}